/*  Login Page V2 */

/*  8.7 Login Page V2 */

.login.login-v2 {
    /* background: url(../img/transparent/black-0.4.png);
    background: rgba(0,0,0,0.4);*/
    background: #fff;
    color: #000;
    width: 450px;
    margin: 10px 0 0 -225px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.login.login-v2 .login-content {
    padding: 40px;
}
.login.login-v2 label {
    color: #000;
}
.login.login-v2 a {
    color: #fff;
}
.login.login-v2 .login-header,
.login.login-v2 .login-header .brand,
.login.login-v2 .login-header .brand small {
    color: #fff;
}
.login.login-v2 .login-header .brand small {
    color: rgba(255, 255, 255, 0.5);
}
.login.login-v2 .login-header .icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.login.login-v2 .form-control {
    background: url(../img/transparent/black-0.4.png);
    background: rgba(118, 212, 249, 0.4);
    border: none;
    color: #000;
}
.login.login-v2 .form-control:focus {
    border-color: rgba(255, 255, 255, 0.35);
}
.login-cover,
.login-cover-bg,
.login-cover-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.login-cover-image img {
    max-width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.login-cover-bg {
    background: #666666; /* Old browsers */
    background: -moz-radial-gradient(
        center,
        ellipse cover,
        #666666 0%,
        #000000 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
        radial,
        center center,
        0px,
        center center,
        100%,
        color-stop(0%, #666666),
        color-stop(100%, #000000)
    ); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(
        center,
        ellipse cover,
        #666666 0%,
        #000000 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(
        center,
        ellipse cover,
        #666666 0%,
        #000000 100%
    ); /* Opera 12+ */
    background: -ms-radial-gradient(
        center,
        ellipse cover,
        #666666 0%,
        #000000 100%
    ); /* IE10+ */
    background: radial-gradient(
        ellipse at center,
        #666666 0%,
        #000000 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#07a4f7 ',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.login-bg-list {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1020;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
}
.login-bg-list > li {
    width: 80px;
    height: 60px;
    overflow: hidden;
    float: left;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
.login-bg-list > li a {
    display: block;
    height: 60px;
}
.login-bg-list > li.active {
    outline: 3px solid #fff;
    z-index: 1020;
    position: relative;
}
.login-bg-list > li img {
    max-height: 100%;
}

.table-borderless > tbody > tr > td {
    border: 0;
    padding: 3px !important;
}

.msgsAdvertencia {
    color: #f9043f;
}

.colorFondo {
    background-color: #fad8df;
}

.colorFondo2 {
    background-color: #fbf5f7;
}
