.template-area{
    background: url("../images/shutterstock_87143017.jpg") no-repeat scroll center 0;
    background-size: cover;
    padding: 100px 0 50px;
    background-attachment: fixed;
    position: relative;
    &:after{
        position: absolute;
        height: 100%;
        background: rgba(17,147,212,0.9);
        background-repeat: repeat;
        width: 100%;
        content: "";
        top: 0;
        left: 0;
    }
}
.template{
    text-align: center;
    color: #fff;
    z-index: 1;
    margin-bottom: 50px;
}
.template-title{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 400;
}
.template-title-subheading{
    max-width: 80%;
    display: inline-block;
    font-size: 17px;
    line-height: 24px;
}
.basic-section-template{
    background: #f1f1f1;
    padding: 100px 0;
    .section-title{
        text-align: center;
    }
}

.title-heading{
    font-size: 25px;
    font-weight: 400;
    color: #000;
    letter-spacing: 5px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-top: 0;
    position: relative;
    text-align: center;
    @media (max-width:338px){
       letter-spacing: 2px; 
    }
    &:after{  
        background-color: $blue;
        content: "";
        height: 2px;
        left: 50%;
        transform: translate(-50%);
        position: relative;
        display: block;
        margin-top: 18px;
        width: 40px;
    }
}




//row-option-page-css......////

.row-section{
    background: #fafafa;
    text-align: center;
    padding: 100px 0;
    .row-img{
        display: inline-block;
    }
}