.main_features{
    padding: 100px 0;
    border-bottom: 1px solid #eee;
    background: #fafafa;
    .feature{
        .media{
            .media-left{
                padding-right: 15px;
                span{
                    width: 38px;
                    padding-left: 2px;
                    text-align: center;
                    display: block;
                    color: $blue;
                    font-size: 36px;
                    line-height: 36px;
                }
            }
            .media-body{
                h4{
                    color: #000000;
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    margin-top: 0;
                }
            }
        }
    }
}