.skill-progressbar-area{
    padding: 100px 0;
    text-align: center;
    .title-heading{
        margin-bottom: 30px;
    }
    p{
        margin-bottom: 50px;
    }
    .pie-progressbar{
        position: relative;
    }
    .circle{
        position: relative;
    }
}